@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  background: $black;
  width: 340px;
  padding: 1em;
}

#popup {

  .heading {
    display: flex;
    justify-content: space-between;
  }

  .message {
    margin: 1.2em 0em 1em 0.5em;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    color: white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


@mixin btn-theme($btn-color) {
  background-color: $btn-color;

	&:hover {
		background-color: darken($btn-color, 6%);
	}
	&:focus {
		background-color: darken($btn-color, 6%);
	}
}

.btn {
  width: 100% !important;
  padding: 5px;
  height: 41px;
  border-radius: 6px;
  font-size: 20px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  border-width: 0;
  outline: none;
  margin-bottom: 0.4em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  // background-color: $greenLight;
  color: $white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.green {
	@include btn-theme($greenLight);
}

.orange {
	@include btn-theme($orangeLight);
}

.red {
	@include btn-theme($redLight);
}

