@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  background: $black;
  width: 340px;
  padding: 1em;
}

.options_icon {
  cursor: pointer;
}

#popup {

  .heading {
    display: flex;
    justify-content: space-between;
  }

  .message {
    margin: 1.2em 0em 1em 0.5em;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    color: white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


